*{
    margin: 0;
    padding: 0;
}    

p{ 
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 25px;
}
    

h2 {
  color:#101010;
  font-size: 50px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}   

h3 {
  margin-left: 120px;
  font-size: 20px;
}

h4 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin-top: 50px;
    font-size: 25px;
    margin-bottom: 25px;
}
  
/* NAV */

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: none;
  z-index: 5;
  display: flex;
  align-items: center;
}

.menu {
  display: inline-flex;
  padding: 0 10px;
  right: 120px;
  margin-left: auto;
}

li {
  list-style: none;
  font-weight: bold;
  padding: 12px 30px;
  margin: 0 1px;
  position: relative;
  cursor: pointer;
  white-space: nowrap;

  background-color: rgba(255, 255, 255, 0.781);
}

li:first-child {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

li:last-child {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
  
a{
    text-decoration: none;
    font-size: 18px;
    color: #101010;
}

li a:hover{
  opacity: .2;
}

@media screen and (max-width: 950px){
  .menu{
    right: 50px;
  }
  
  li {
    padding: 12px 10px;
    margin: 0 8px;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
  }
    
  a{
      text-decoration: none;
      font-size: 15px;
      color: #101010;
  }
}

@media screen and (max-width: 727px){
  h3{
    margin-left: 50px;
  }

  div.how {
    margin: 20px;
  }
}

/* Burger */

.nav{
  width: 50px;
}

.navbar{
  /* height: 150px; */
  width: 150px;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: none;
}

.menu-bars{
  margin-left: 50px;
  font-size: 25px;
}

.nav-menu{
  background-color: white;
  width: 200px;
  height: 80vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 5;
}

.FaIcon{
  pointer-events: all;
}

.nav-text a{
  text-decoration: none;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover{
  background-color: red;
}

.nav-menu-items{
  width: 200px;
}

.navbar-toggle{
  background-color: white;
  width: 200px;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0;
  margin: 0;
}

span{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

.nav-menu.active{
  left: 0;
  transition: 350ms;
}

.burger-link{
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

/* HERO */

.container{
    height: 100vh;
    width: 100%;
    max-width: 100%;

    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;

    overflow: hidden;
}

.container img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110vh;
  object-fit: cover;
}

.main-title {
  position: relative;
  color: #101010;
  font-family: 'Open Sans', sans-serif;
  line-height: 80px;
  font-size: 65px;
  margin-left: 120px;
  margin-top: 130px;

  width: 70%;

  text-align: left;
}

.main-para {
  position: relative;
  margin-left: 120px;
  font-size: 20px;
  line-height: 40px;
  width: 50%;
}

.main-button{
    cursor: pointer;

    position: absolute;
    margin-left: 120px;
    color: #292929;
    font-size: 23px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    outline: none;
    border: 2px solid #292929;
    border-radius: 5px;
    background: none;
}

.main-button:hover{
    background: #292929;
    color: white;
}

.arrow-box {
  width: 100px;
  height: 100px;

  position: absolute;
  top: 80%;
  left: 80%;
  transform: translate(-50%, -50%);

  border: 2px solid black;
  border-radius: 50%;
}

.arrow {
  font-size: 40px;
  font-weight: 1000;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  animation: arrow 1.2s infinite alternate;
}

@keyframes arrow {
  0% {
    top: 30%;
  }
  100% {
    top: 70%;
  }
}

@media screen and (max-width: 1100px){
  .main-title{
    font-size: 60px;
  }
}

@media screen and (max-width: 923) {
  .arrow-box {
    width: 75px;
    height: 57px;
  
    top: 60%;
  }
  
  .arrow {
    font-size: 30px;
  }

  .main-title{
    /* font-size: 45px; */
    font-size: 10px;
    margin-left: 50px;
    width: 80vw;
    line-height: 55px;
  }

  .main-para{
    font-size: 23px;
    line-height: 40px;
  }
}

@media screen and (max-width: 727px){

  .main-title{
    margin-top: 100px;
    font-size: 50px;
    margin-left: 50px;
    width: 80vw;
    line-height: 55px;
  }
  
  .main-para{
    font-size: 25px;
    line-height: 40px;
    margin-left: 50px;
    width: 80vw;
  }

  .main-button{
    margin-left: 50px;
  }
}

@media screen and (max-width: 1100px){
  .main-title{
    font-size: 60px;
  }
}

@media screen and (max-width: 727px){

  .main-title{
    margin-top: 100px;
    font-size: 50px;
    margin-left: 50px;
    width: 80vw;
    line-height: 55px;
  }
  
  .main-para{
    font-size: 25px;
    line-height: 40px;
    margin-left: 50px;
    width: 80vw;
  }

  .main-button{
    margin-left: 50px;
  }
}
@media screen and (max-width: 352px){

  .main-title{
    margin-top: 100px;
    font-size: 40px;
    margin-left: 50px;
    width: 80vw;
    line-height: 55px;
  }
  
  .main-para{
    font-size: 20px;
    line-height: 30px;
    margin-left: 50px;
    width: 80vw;
  }

  .main-button{
    margin-left: 50px;
  }
}

/* About */
    .content{
        width: 100%;
        min-height: 60vh;
        background: #fefefe;
        z-index: 2;
        position: relative;
        box-shadow: -5px -5px 5px rgba(0,0,0, .2);
        padding-bottom: 100px;
    }
     
    #wrapper {
      display:flex; 
      flex-direction:row;
      width: 75%;
      margin: auto;
    }   
    
    
    #sticky {
      position: sticky;
      position: -webkit-sticky;
      width: 50%;
      height: 400px;
      top: 25%;
      margin-top: 33px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid #02475e;
      color: #fff;
    }
    
    #para{
      width:40%;
      margin: 40px;
    }

    @media screen and (max-width: 960px){
        #sticky{
          margin-left: -50px;
          max-width: 280px;
          max-height: 300px;

        }

        #para{
          margin: 20px;
          width: 100%;
          margin-right: -50px;
        }  
    }
    
    @media screen and (max-width: 685px){
      #sticky{
        margin-left: -50px;
        max-width: 240px;
        max-height: 280px;

      }
   
      #para{
        margin: 20px;
        width: 60%;
        margin-right: -50px;
      }  
  }

@media screen and (max-width: 575px){
  .main-title{
    font-size: 45px;
  }

  #sticky{
  display: none;
  }

  #para{
    margin: auto;
    width:100%;
  }  
}

    /* PROJECT */

.project{
  width: 100%;
  min-height: 60vh;
  background: #fefefe;
  z-index: 2;
  position: absolute;
}

.proj{
  height: 110vh;
  width: 100%;
  background-color: white;
  z-index: 4;
  position: absolute;
}


.para-project{
    font-size: 25px; 
    width: 42%;
    margin-left: 120px;
}

.pictures{
  padding-top: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.img-portfolio{
  width: 600px;
  filter: grayscale(1);
  cursor: pointer;
  z-index: 4;
}

.zamale{
  height: 450px;
}

.zamale2{
  height: 398px;
}

.img-portfolio:hover{
  filter: grayscale(0);
}

@media screen and (max-width: 1000px){
  .img-portfolio{
    width: 48vw;
  }

  .para-project{
    margin-left: 50px;
    width: 60%;
}
}

@media screen and (max-width: 650px){
  .img-portfolio{
    width: 80vw;
  }
}

/* HOW */

.how{
  margin: auto 120px;
  align-items: flex-start;
  justify-content: start;
}

.h4-how{
  align-self: flex-start;
  justify-self: start;
}

/* CONTACT */

.icons{
  width: 100%;
  align-self: center;
  justify-content: center;
  display: flex;
  margin: auto;
}

.social{
  padding: 10px;
  margin-bottom: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon{
  transform: scale(2.5);
  color: #D9D9D9;
  margin: 25px 40px;
}

.social p{
  color: #BFBFBF;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  align-self: center;
}

form{
  display:flex; 
  flex-direction: column;
  width: 30%;
  margin: auto;
}

input, textarea{
  padding: 5px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background: #F2F2F2;
}


.send{
  cursor: pointer;
  color: #292929;
  font-size: 18px;
  padding: 7px;
  font-family: 'Roboto', sans-serif;
  outline: none;
  border: 2px solid #292929;
  border-radius: 5px;
  background: none;
  width: 30%;
  align-self: center;
}

.send:hover{
  background: #292929;
  color: white;
}

@media screen and (max-width: 1000px){
  form{
    width: 60%;
  }
}


@media screen and (max-width: 480px){
  .icons{
    flex-direction: column;
  } 

  .social{
    padding: 5px;
    margin-bottom: 50px;
  }
  
  .icon{
    transform: scale(1.8);
    color: #D9D9D9;
    margin: 0 50% 10px;
    transform: translateX(-50%);
  }
 
  .social p{
    margin: auto 50%;
    margin: 0 20px;
  }
}
/* FOOTER */
.footer-dark {
  position: relative;
  z-index: 6;
  margin-bottom: -200px;
  margin-top: 50px;
  padding:50px 0 0 0;
  color:#f0f9ff;
  background-color:#282d32;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

.li-fo{
  color: #101010;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > .icon {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.7;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}

